language: java

sudo: required

cache:
  directories:
  - $HOME/.m2

jdk:
  - openjdk10
  - openjdk11

env:
  global:
    - secure:"Dupdb/HgNXKu8kOo7/RcpMCAyEZA8hLw77nVPTxXUo39UUI/ipnbUfRHamiWC2/MCqTEHu+1eReCmuFj2ULk4g+vi/8VYjrmX1TiHwikIFEAGrRRK0VkuWegqloYtXuxa7gtuQ96PWjqJ48op/WYyYvKiH0cFOMHsZOt5cl9PL4="

before_script:
  - sudo apt-get update
  - sudo apt-get install phantomjs

script:
  - ./run_test.sh

after_success:
  - cd redpen-core/
  - mvn clean test -DrepoToken=${REPO_TOKEN} jacoco:report coveralls:jacoco
