var message = "word [{0}] is too long. length: {1}";

function validateSentence(sentence) {
    var content = sentence.getContent().split(" ");
    for(var i = 0; i<content.length;i++){
        if(content[i].length >= 10){
            addValidationError(sentence, content[i], content[i].length);
        }
    }
}

// optionally, you can implement validation logic for document, section
/*
 function preValidateSentence(sentence) {
 }
 function preValidateSection(section) {
 }
 function validateDocument(document) {
 }
 function validateSection(section) {
 }
*/
