<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>RedPen Server</display-name>
  <description>RedPen Server</description>

  <listener>
    <listener-class>
        org.bigram.docvalidator.server.DocumentValidatorInitializer
    </listener-class>
  </listener>

  <!-- Wink SDK servlet configuration. This servlet handles HTTP requests of
  SDK web service on application server. -->
  <servlet>
    <servlet-name>restSdkService</servlet-name>
    <servlet-class>org.apache.wink.server.internal.servlet.RestServlet
    </servlet-class>
    <init-param>
      <param-name>applicationConfigLocation</param-name>
      <param-value>/WEB-INF/application</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>restSdkService</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
